
*.avi
CodesHY/Scripts/fig/PrefferedAnglePETH/Neurons_hand.mat
CodesHY/Scripts/fig/PrefferedAnglePETH/Neurons_hand_lift.mat
CodesHY/Scripts/fig/PrefferedAnglePETH/Neurons_traj.mat
CodesHY/Scripts/fig/PrefferedAnglePETH/Neurons_traj_lift.mat
CodesHY/Scripts/fig/TrajectoryCellAll/Neurons_lift_highest.mat
CodesHY/Scripts/fig/TrajectoryCellAll/Neurons.mat
CodesHY/Scripts/fig/PETHLift/Neurons.mat
