
[submodule "CodesHY/EasyPlot"]
	path = CodesHY/EasyPlot
	url = git://github.com/jiumao2/EasyPlot
[submodule "CodesHY/kilosort/PhyWaveformPlugin"]
	path = CodesHY/kilosort/PhyWaveformPlugin
	url = git://github.com/jiumao2/PhyWaveformPlugin
